.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 30px 0;
}

.page-item a {
  color: white;
  background-color: #111;
  border: 1px solid #333;
  padding: 8px 12px;
  font-weight: bold;
  transition: 0.2s;
}

.page-item a:hover {
  background-color: #e50914; /* 넷플릭스 레드 */
  color: white;
  border-color: #e50914;
}

.page-item.active a {
  background-color: #e50914;
  color: white;
  border-color: #e50914;
}

.page-item.disabled {
  display: none;
}

.btn-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .pagination {
    font-size: 13px;
    padding: 10px 0;
    gap: 4px;
  }

  .page-item a {
    padding: 6px 8px;
  }
}
